---
import "../css/fonts.css";
import "../css/main.css";
import "../css/colors.css";
import Nav from "../components/Nav2.astro";
import Header from "../components/Header.astro";
// import Noisebg from "../components/Noisebg.astro"
import Iam from "../components/Iam.astro";
import Myself from "../components/Myself.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body class="flex-col items-center content-center">
    <Nav />
    <div>
      <!-- <Noisebg/> -->
      <Iam />
    </div>

    <a href="#about" class="down hover:animate-pulse">scroll down</a>

    <div id="about">
		<Myself />
	</div>
    
    <div id="skills">
		<Skills></Skills>
	</div>
    <div id="projects" class="">
		<Projects />
    </div>
  </body>
</html>

<style>
  .flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .down {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 10vh;
    font-size: large;
    color: white;
    font-family: Roboto;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
    font-weight: 900;
  }
  .down:hover {
  }
  #about {
    margin-top: 150px;
  }
  body {
    background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
    background-size: cover;
    -webkit-animation: slidein 30s;
    animation: slidein 30s;
    background-attachment: fixed;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

  @-webkit-keyframes slidein {
    from {
      background-position: top;
      background-size: 3000px;
    }
    to {
      background-position: -100px 0px;
      background-size: 2750px;
    }
  }

  @keyframes slidein {
    from {
      background-position: top;
      background-size: 3000px;
    }
    to {
      background-position: -100px 0px;
      background-size: 2750px;
    }
  }
</style>
<script src="https://kit.fontawesome.com/f179aa90d3.js" crossorigin="anonymous"
></script>
