---
import "../css/fonts.css";

import Nav from "../components/Nav2.astro";
import Header from "../components/Header.astro";
// import Noisebg from "../components/Noisebg.astro"
import Iam from "../components/Iam.astro";
import Myself from "../components/Myself.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body class="flex-col items-center content-center">
    <Nav />
    <div>
      <!-- <Noisebg/> -->
      <Iam />
    </div>

    <div id="about">
      <Myself />
    </div>

    <div id="skills">
      <Skills />
    </div>
    <div id="projects">
      <Projects />
    </div>
    <Contact />
    <div id="contact"></div>

    <Footer />
  </body>
</html>

<style>
  *{
    scroll-behavior: smooth;
  }
 
  #about {
    padding-top: 50px;
  }
  #skills {
    padding-top: 50px;
  }
  #projects {
    padding-top: 1px;
  }
  #contact {
    padding-top: -150px;
  }
 
</style>
<script src="https://kit.fontawesome.com/f179aa90d3.js" crossorigin="anonymous"
></script>
