---
import "../css/fonts.css"
import "../css/main.css"
import "../css/colors.css"
import Nav from "../components/Nav.astro"
import Header from "../components/Header.astro"
import Skills from "../components/Skills.astro"
import Wave from "../components/Wave.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Wave></Wave>
		<Header/>
		<Nav></Nav>
		<div class="flexcenter">
			<Skills/>
		</div>

		
	</body>

</html>

<style>
	.flexcenter{
		display: flex;
		justify-content: center;
	}

</style>