---
import "../css/fonts.css";
import "../css/main.css";
import "../css/colors.css";
import Nav from "../components/Nav2.astro";
import Header from "../components/Header.astro";
// import Noisebg from "../components/Noisebg.astro"
import Iam from "../components/Iam.astro";
import Myself from "../components/Myself.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body class="flex-col items-center content-center">
    <Nav />
    <div>
      <!-- <Noisebg/> -->
      <Iam />
    </div>

    

    <div id="about">
		<Myself />
	</div>
    
    <div id="skills">
		<Skills></Skills>
	</div>
    <div id="projects" >
		<Projects />
    </div>
	<Contact></Contact>
	<div id="contact" >
		
	</div>
	<div class="button"></div>
	<a class="button" href="https://myself-p0rtfolio.netlify.app/">Looks Shitty</a>
	<Footer></Footer>
  </body>
</html>

<style>

  .down {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 10vh;
    font-size: large;
    color: white;
    font-family: Roboto;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
    font-weight: 900;
  }
  .down:hover {
  }
  #about {
    padding-top: 50px;
  }
  #skills {
	padding-top: 50px;
  }
  #projects {
	padding-top: 1px;
  }
  #contact{
	padding-top: -150px;
  }
  body {
    background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
    background-size: cover;
    animation: slidein 30s;
    background-attachment: fixed;

    animation-fill-mode: forwards;

    animation-iteration-count: infinite;

    animation-direction: alternate;
  }



  @keyframes slidein {
    from {
      background-position: left top;
      background-size: 3000px;
    }
    to {
      background-position: right bottom;
      background-size: 2750px;
    }
  }
  .hover-styling {
	color: tomato !important;
	transform: scale(1.2) !important;
  }

  .scrolled-styling {
	color: #FFD700;
	transform: scale(1.2);
  }
</style>
<script src="https://kit.fontawesome.com/f179aa90d3.js" crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

