---
import "../css/fonts.css";
---
<a href="https://myself-p0rtfolio.netlify.app/"><button class="button">
  Looks ugly
  <div class="icon">
    <svg
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
        fill="currentColor"></path>
    </svg>
  </div>
</button></a>


<style>
  .button {
    margin-top: 5px;
    background: #333;
    color: rgb(231, 231, 231);
    box-shadow: inset 0 0 1px 1px white ;
    font-family: mono;/* 
    padding: 0.35em; */
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #3f3f3fc0;
    overflow: hidden;
    position: relative;
    height: 2em;
    padding-right: 3.3em;
    cursor: pointer;
  }

  .button .icon {
    background: #ebebeb;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #263442c0;
    right: 0.3em;
    transition: all 0.3s;
    
  }
  
  .button:hover .icon {
    height: 100%;
    right:0;
    width: 100%;
    background-color: tomato;
    svg{
      transition: 1s;
      scale: 2;
  }
  }

  .button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #263442c0;
   
  }

  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }

  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
</style>
