---
import "../css/fonts.css";
import "../css/darkmode.css";
---

<button type="submit" class="button">
  Submit
  <div class="icon">
    <i class="fa-solid fa-arrow-right"></i>
  </div>
</button>

<style>
  .button {
    background: var(--bg-secondary);
    color: var(--accent);
    box-shadow: inset 0 0 1px 1px var(--border);
    font-family: mono;
    margin-top: 20px;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.5em;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em var(--shadow);
    overflow: hidden;
    position: relative;
    height: 2em;
    padding-right: 3.3em;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .button .icon {
    background: var(--bg-primary);
    margin-left: 1em;
    color: var(--text-secondary);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.2em;
    width: 2.2em;
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em var(--shadow);
    right: 0.3em;
    transition: all 0.3s;
  }

  .button:hover .icon {
    height: 100%;
    right: 0;
    width: 100%;
    color: var(--accent);
    background-color: var(--bg-secondary);
   i {
      transition: .1s;
      scale: 1.2;
    }
  }
  button:focus i{
      transition: 1s;
      transform: translateX(20px);
    }
  

  .button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #263442c0;
  }

  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }

  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
</style>
