---
import "../css/fonts.css";
import Button from "./Button.astro";
// import bg1 from "../assets/images/"
---

<section class="flex flex-col items-center content-center h-[80vh]">
  <form action="submit" method="post">
    <h1 class="font-[marker] mb-8 text-2xl">Get in touch</h1>
    <div class="input-group">
      <input
        required
        type="text"
        name="name"
        autocomplete="off"
        class="input"
      />
      <label class="user-label">First Name</label>
    </div>
    <div class="input-group">
      <input
        required
        type="email"
        name="email"
        autocomplete="off"
        class="input"
      />
      <label class="user-label">E-Mail</label>
    </div>
    <div class="input-group">
      <textarea required name="text" rows="5" autocomplete="off" class="input" 
      ></textarea>
      <label class="user-label">Message</label>
    </div>
    <Button />
  </form>
</section>
<style>
  section {
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-image: url("https://images.unsplash.com/photo-1504639725590-34d0984388bd?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    -webkit-animation: slidein 30s;
    animation: slidein 30s;
    background-attachment: fixed;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

  @-webkit-keyframes slidein {
    from {
      background-position: top;
      background-size: 3000px;
    }
    to {
      background-position: -100px 0px;
      background-size: 2750px;
    }
  }

  @keyframes slidein {
    from {
      background-position: top;
      background-size: 3000px;
    }
    to {
      background-position: -100px 0px;
      background-size: 2750px;
    }
  
  }
  form {
    padding: 25px;
    background-color: #333333e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    
    h1 {
      color: #eeeeeef3;
      text-shadow: 4px 4px 8px #000000;
    }
  }
  .input-group {
    position: relative;
    margin: 15px;
  }

  .input{
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: #eeeeeef3;
    padding: 1rem;
    padding-left: 2rem;
    font-size: 1rem;
    color: #21212170;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  textarea {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: #2121211a;
    padding: 1rem;
    padding-left: 2rem;
    font-size: 1rem;
    color: #21212170;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .user-label {
    position: absolute;
    left: 85px;
    
    color: #21212170;
    pointer-events: none;
    font-family: Marker;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .input:focus,
  .input:valid {
    outline: none;
    outline: 2px solid #1a73e8;
  }

  .input:focus ~ label,
  .input:valid ~ label {
    transform: translatey(-110%) translateX(-85px);
    
    background-color: #21212100;
    padding: 0 0.2em;
    color: tomato;
    text-shadow: 1px 1px 4px black;
  }

</style>
