---
import "../css/fonts.css";
import Button from "./Button.astro";
// import bg1 from "../assets/images/"
---

<section class="flex flex-col items-center content-center h-[80vh]">
  <form
    action="https://formspree.io/f/mvoeekgw"
    method="POST"
    class="offscreen"
  >
    <h1
      class="font-[mono] mb-8 text-2xl hover:text-[tomato] hover:font-extrabold"
    >
      Get in touch<span class="animate-ping">_</span>
    </h1>
    <div class="input-group">
      <input
        required
        type="text"
        name="name"
        autocomplete="off"
        class="input"
        id="name"
      />
      <label class="user-label" for="name">First Name</label>
    </div>
    <div class="input-group">
      <input
        required
        type="email"
        name="email"
        autocomplete="off"
        class="input"
        id="mail"
      />
      <label class="user-label" for="mail">E-Mail</label>
    </div>
    <div class="input-group">
      <textarea
        required
        name="text"
        rows="5"
        autocomplete="off"
        class="input"
        id="message"></textarea>
      <label class="user-label" for="message">Message</label>
    </div>
    <Button />
  </form>
</section>
<style>
  section {
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-image: url("https://images.unsplash.com/photo-1653289755854-a41949e96282?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    box-shadow: inset 0px -2vh 10vw 10px #000000ba;
    -webkit-animation: slidein2 30s;
    animation: slidein2 45s;
    background-attachment: fixed;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

  form {
    padding: 25px;
    max-width: 568px;
    width: 100%;
    background-color: #333333e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    h1 {
      color: #eeeeeef3;
      transition: 1s;
    }
  }
  form h1 {
    animation: letters 15s infinite alternate;
  }
  .input-group {
    position: relative;
    padding: 15px;
  }

  .input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: #eeeeeef3;
    padding: 0.5rem;
    padding-left: 2rem;
    font-size: 1rem;
    color: #21212170;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 80vw;
    flex-grow: 1;
    max-width: 400px;
  }
  textarea {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: #2121211a;
    padding: 1rem;
    padding-left: 2rem;
    font-size: 1rem;
    color: #21212170;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .user-label {
    position: absolute;
    left: 35px;
    top: 6px;
    font-family: mono;
    font-size: 1rem;
    font-weight: 700;
    color: #3e3e3e;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  label:hover {
    color: tomato;
  }

  .input:focus,
  .input:valid {
    outline: none;
    outline: 2px solid #a2a2a2c4;
  }
  .input:focus {
  }
  .input:focus ~ label,
  .input:valid ~ label {
    left: 15px;
    top: -26px;
    background-color: #21212100;
    padding: 0 0.2em;
    color: tomato;
  }
</style>
