---
import "../css/fonts.css";
import Button2 from "./Button2.astro";
---

<footer class="footer">
  <div class="up">
    <a href="#home" class="p-2"
      ><div class="font-extrabold">/up</div><div>
        <i class="fa-solid fa-arrow-up"></i>
      </div></a
    >
  </div>
  <ul>
    <li>
      <a href="https://www.facebook.com/k0miker/" target="_blank"
        ><i class="fab fa-facebook-f"></i></a
      >
    </li>
    <li>
      <a href="https://discord.gg/4PnZUY2DQe" target="_blank"
        ><i class="fab fa-discord"></i></a
      >
    </li>
    <li>
      <a href="https://www.linkedin.com/in/k0miker/" target="_blank"
        ><i class="fab fa-linkedin-in"></i></a
      >
    </li>
    <li>
      <a href="https://www.instagram.com/k0miker/" target="_blank"
        ><i class="fab fa-instagram"></i></a
      >
    </li>
    <li>
      <a href="https://github.com/k0miker/k0miker" target="_blank"
        ><i class="fab fa-github"></i></a
      >
    </li>
    <li>
      <a href="https://codepen.io/k0miker" target="_blank"
        ><i class="fab fa-codepen"></i></a
      >
    </li>
  </ul>
  <p class="text-[mono]">© 2024 Colin Blome. Alle Rechte vorbehalten.</p>
  <div class="flex items-center place-content-center pt-4">
    <!-- <a
      class="px-2 py-2 mt-2 font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-[tomato] text-gray-600 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
      href="https://myself-p0rtfolio.netlify.app/"
      id="nav-contact">/looks ugly?</a
    > -->
    <div class="text-white flex items-center justify-center relative">
      <input type="checkbox" id="modal-toggle" class="modal-toggle" />
      <label
        for="modal-toggle"
        class="px-4 py-2 font-semibold rounded-lg bg-transparent text-gray-600 hover:text-[tomato] hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline cursor-pointer"
      >
        /Impressum
      </label>

      <div
        class="modal-overlay fixed inset-0 bg-black bg-opacity-40
      0 hidden z-10"
      >
      </div>
      <div
        class="modal absolute bottom-0 bg-[#333] border border-gray-600 rounded-lg p-4 mt-2 hidden z-20 w-64 text-left"
      >
        <strong><h2>/Impressum</h2></strong>
        <p><strong>Name:</strong>Colin blome</p>
        <p><strong>Address:</strong>Buten Porten 4, 49584 Fürstenau</p>
        <p>
          <strong>Email:</strong><a
            href="mailto:info@colinblome.dev"
            class="underline"
            >info<span class="font-sans">@</span>colinblome.dev</a
          >
        </p>
        <label
          for="modal-toggle"
          class="mt-4 text-blue-500 cursor-pointer underline">Close</label
        >
      </div>
    </div>
  </div>
</footer>
<style>
  #modal-toggle {
    display: none;
  }
  /* Show the modal when the checkbox is checked */
  #modal-toggle:checked ~ .modal-overlay {
    display: block;
  }
  #modal-toggle:checked ~ .modal {
    display: block;
  }

  .ugly {
    display: flex;
    padding: 5px;
    border-radius: 10px;
    border: 2px grey solid;
    display: inline-block;
  }
  .footer {
    background-color: #fafafa;
    padding: 1rem;
    text-align: center;
  }
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .footer ul li {
    display: inline-block;
  }
  .footer ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  .footer ul li a i {
    transition: 0.3s;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 5px;
    border-radius: 5px;
    aspect-ratio: 1;
    color: #434343;
  }
  .footer ul li:hover a i {
    color: #363636;
    background-color: #ebebeb;
    transform: translateY(-10px) translatex(4px) rotate(-15deg) skew(10deg);
    box-shadow: -4px 4px rgb(255, 99, 71);
  }
  .footer p {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  .up {
    display: flex;
    justify-content: center;

    a {
      margin-top: -20px;
      div {
        padding: 10px;
        background: #fafafa;
        color: #333;
        font-family: mono;
        font-size: 16px;
        border-radius: 0.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 1s;
        flex-direction: column;
        width: 75px;
        height: 35px;
      }
    }
  }
  .up:hover {
    transition: 0.5s;
    transform: translate(0, -10px);
  }
  a:hover div {
    color: tomato;
    background-color: #f5f5f5;
  }
  a:hover div:nth-of-type(1) {
    display: none;

    div {
      display: block;
    }
  }
  a div:nth-of-type(2) {
    display: none;

    i {
      translate: 0px -5px;
    }
  }
  a:hover div:nth-of-type(2) {
    display: block;

    div {
      display: block;
    }
  }
</style>
