---
import "../css/fonts.css";
import "../css/keyframes.css";
---

<div class="console-container font-[marker] text-4xl ">
  <span id="text" class="offscreen" ></span><div class="console-underscore" id="console">
    &#95;
  </div>
  
</div>
<a href="#contact"><div>Down </div><div><i class="fa-solid fa-arrow-down"></i></div></a>

<style>

  .hidden {
    opacity: 0;
  }
  span{
    min-height: 40px;
  }
  body {
    
  }
  a {
    bottom: 55px;/* 
    width: 12vw; */
    min-width: 75px;/* 
    left: 45vw; */
    background: #33333369;
    color: white;
    box-shadow: inset 0 0 1px 1px white ;
    font-family: mono;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0.9em;
    letter-spacing: 0.05em;/* 
    display: flex;
    align-items: center;
    justify-content: center; */
    box-shadow:  0 0 1.6em 0.1em #33333373;
    overflow: hidden;
    position: relative;
    height: 2em;
    cursor: pointer;
    transition:all 1s;
    flex-direction: column;
    div{
      padding: 5px;
    }
    

  }
  a:hover div{
    color: tomato;
  }
  a:hover div:nth-of-type(1){
    display:none;
    div{
      display: block;
    }
  }
  a div:nth-of-type(2){
    display: none;
  }
  a:hover div:nth-of-type(2){
    display:block;
    div{
      display: block;
    }
  }
  
  .console-container {
    background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
    background-size: cover;
    animation: slidein 30s;
    background-attachment: fixed;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;    
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: -30px;
    margin: auto;
  }
  .console-underscore {
    display: inline-block;
    position: relative;
    top: 0;
    left: 10px;
  }
  @media screen and (max-width:768px) {
    .console-container {
        font-size: 2em;
    }
  }
</style>
<script>
  // function([string1, string2],target id,[color1,color2])
  consoleText(
    [
      "Hello there.",
      "I am Colin",
      "Web Developer",
      "Gamer",
      "Bonsai enthusiast",
      "Nerd",
    ],
    "text",
    ["tomato", "white", "tomato"]
  );
  function consoleText(words, id, colors) {
    if (colors === undefined) colors = ["#fff"];
    var visible = true;
    var con = document.getElementById("console");
    var letterCount = 1;
    var x = 1;
    var waiting = false;
    var target = document.getElementById(id);
    target.setAttribute("style", "color:" + colors[0]);
    window.setInterval(function () {
      if (letterCount === 0 && waiting === false) {
        waiting = true;
        target.innerHTML = words[0].substring(0, letterCount);
        window.setTimeout(function () {
          var usedColor = colors.shift();
          colors.push(usedColor);
          var usedWord = words.shift();
          words.push(usedWord);
          x = 1;
          target.setAttribute("style", "color:" + colors[0]);
          letterCount += x;
          waiting = false;
        }, 1000);
      } else if (letterCount === words[0].length + 1 && waiting === false) {
        waiting = true;
        window.setTimeout(function () {
          x = -1;
          letterCount += x;
          waiting = false;
        }, 1000);
      } else if (waiting === false) {
        target.innerHTML = words[0].substring(0, letterCount);
        letterCount += x;
      }
    }, 120);
    window.setInterval(function () {
      if (visible === true) {
        con.className = "console-underscore hidden";
        visible = false;
      } else {
        con.className = "console-underscore";

        visible = true;
      }
    }, 400);
  }
</script>
