---
import "../css/fonts.css"
---

<div class="console-container font-[Marker] text-4xl ">
  <span id="text" ></span><div class="console-underscore" id="console">
    &#95;
  </div>
</div>

<style>
  .hidden {
    opacity: 0;
  }
  span{
    min-height: 40px;
  }
  .console-container {

    /* font-family: Marker; */
   
    
    height: 95vh;
    /* width: 600px;  */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    z-index: -1;
    left: 0;
    right: 0;
    margin: auto;
  }
  .console-underscore {
    display: inline-block;
    position: relative;
    top: 0;
    left: 10px;
  }
  @media screen and (max-width:768px) {
    .console-container {
        font-size: 2em;
    }
  }
</style>
<script>
  // function([string1, string2],target id,[color1,color2])
  consoleText(
    [
      "Hello there.",
      "I am Colin",
      "Web Developer",
      "Gamer",
      "Bonsai enthusiast",
      "Nerd",
    ],
    "text",
    ["tomato", "white", "tomato"]
  );
  function consoleText(words, id, colors) {
    if (colors === undefined) colors = ["#fff"];
    var visible = true;
    var con = document.getElementById("console");
    var letterCount = 1;
    var x = 1;
    var waiting = false;
    var target = document.getElementById(id);
    target.setAttribute("style", "color:" + colors[0]);
    window.setInterval(function () {
      if (letterCount === 0 && waiting === false) {
        waiting = true;
        target.innerHTML = words[0].substring(0, letterCount);
        window.setTimeout(function () {
          var usedColor = colors.shift();
          colors.push(usedColor);
          var usedWord = words.shift();
          words.push(usedWord);
          x = 1;
          target.setAttribute("style", "color:" + colors[0]);
          letterCount += x;
          waiting = false;
        }, 1000);
      } else if (letterCount === words[0].length + 1 && waiting === false) {
        waiting = true;
        window.setTimeout(function () {
          x = -1;
          letterCount += x;
          waiting = false;
        }, 1000);
      } else if (waiting === false) {
        target.innerHTML = words[0].substring(0, letterCount);
        letterCount += x;
      }
    }, 120);
    window.setInterval(function () {
      if (visible === true) {
        con.className = "console-underscore hidden";
        visible = false;
      } else {
        con.className = "console-underscore";

        visible = true;
      }
    }, 400);
  }
</script>
