---
import "../css/fonts.css";
import myself from "../assets/images/Cartoonify.svg";
import myself3 from "../assets/images/myself.jpg";
---

<div class="wrap sm:flex-col rounded-lg offscreen">
  <h3 class="py-5 font-[mono] text-4xl font-bold text-center offscreen">
    About<span class="animate-ping">_</span>
  </h3>
  <div class="flex flex-col items-center offscreen">
    <div class="foto-swich">
      <img src={myself.src} class="sm:w-[100%] opacity-100" alt="foto of colin" />
      <img src={myself3.src} class="sm:w-[100%] " alt="foto of colin" />
    </div>
    <div class="me flex flex-col justify-between ">
      <p class="p-8 text-center text-pretty offscreen en">
        <span class="text-[tomato] text-[8px]">hover for GERMAN</span><br>
        Hello! <br />I'm Colin, a 38-year-old passionate web developer. Since my
        youth, I've been a true PC nerd with a strong affinity for technology. <br
        />Besides my work as a web developer, I'm also an avid gamer and love
        spending my free time on challenging games. Additionally, I have a
        special passion for bonsai art, which helps me bring calm and balance to
        my daily life. <br /><br />

        With my diverse experience and wide-ranging interests, I bring creative
        and functional solutions to my projects.<br />Whether it's developing a
        user-friendly website or solving complex technical challenges, I am
        always motivated to achieve the best results and help my clients reach
        their goals. 
        
      </p>

      <p class="p-8 text-center offscreen ger text-[16px]">
        <br>
        Hallo! <br>
        Ich bin Colin, ein leidenschaftlicher Webentwickler. Seit
        meiner Jugend ein PC-Nerd mit einer Affinität für
        Technologie. Neben meiner Arbeit als Webentwickler bin ich auch ein begeisterter
        Gamer und verbringe gerne Freizeit mit anspruchsvollen Spielen. Zusätzlich
        habe ich eine Leidenschaft für die Bonsai-Kunst, die mir hilft,
        Ruhe und Ausgleich in den Alltag zu bringen. Mit meiner vielfältigen Erfahrung
        und meinen breitgefächerten Interessen bringe ich kreative und funktionale
        Lösungen in Projekte ein. Egal ob es darum geht, eine benutzerfreundliche
        Webseite zu entwickeln oder komplexe technische Herausforderungen zu lösen,
        ich bin immer motiviert, die besten Ergebnisse zu erzielen und meinen Kunden
        zu helfen, ihre Ziele zu erreichen.
      </p>
    </div>
    
    <div class="self flex-col w-[100%] mt-8 px-[2vw] offscreen">
      <h3
        class="text-center text-xl md:text-2xl p-4 font-[mono] bg-gray-400 max-w-[768px] rounded-t-xl text-gray-600 font-bold w-[100%]"
      >
        Self Proclamations<span class="animate-ping">_</span>
      </h3>
      <div
        class="flex p-4 w-[100%] bg-gray-300 rounded-b-xl max-w-[768px] font-[mono] text-gray-600 text-center"
      >
        <div
          class="flex flex-grow flex-col p-2 items-center hover:text-[tomato] hover:scale-125 font-bold text-[12px] md:text-[16px]"
        >
          <i class="fa-solid fa-keyboard text-gray-600 p-4 text-[20px] md:text-[50px]"></i>Web
          Developer
        </div>
        <div
          class="flex flex-grow flex-col p-2 items-center font-[mono] hover:text-[tomato] hover:scale-125 font-bold text-[12px] md:text-[16px]"
        >
          <i class="fa-solid fa-user text-gray-600 p-4 text-[20px] md:text-[50px] "></i>UI/UX
          Enthusiast
        </div>
        <div
          class="flex flex-grow flex-col p-2 items-center font-[mono] hover:text-[tomato] hover:scale-125 font-bold md:text-[16px] text-[12px] "
        >
          <i class="fa-solid fa-leaf text-gray-600 p-4 text-[20px] md:text-[50px]"></i>Bonsai
          Enthusiast
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .wrap {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }
  img {
    width: 30%;
    max-width: 250px;
    opacity: 0.8;
    outline: 1px solid #333;
    object-fit: cover;

    border-radius: 20%;
    aspect-ratio: 1;
  }

  h3 {
    font-family: mono;
    color: #263442c0;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    font-family: inter;
    max-width: 768px;
    text-align: center;
    color: #263442c0;
    transition: .5s;
  }
  .ger {
    opacity: 0;
    position: fixed;
    top: 180px;
    scale: .9;
    filter: blur(1px)
  }
  .me:hover .ger {
    opacity: 1;
    filter: blur(0px);
    scale: 1;
  }
  .me:hover .en {
    opacity: 0;
    filter: blur(1px);
    scale: .9;
  }
  .self {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .foto-swich {
    display: flex;
    justify-content: center;
    width: 200px;
    border-radius:15px ;
    img {
      width: 200px;

      transition: .5s;
    }
  }
  .foto-swich:hover img:nth-of-type(2) {
    opacity: 1;
  }
  .foto-swich:hover img:nth-of-type(1) {
    opacity: 1;
  }
  .foto-swich img:nth-of-type(2) {
    transform: translateX(-50%);
    opacity: 0;
  }
  .foto-swich img:nth-of-type(1) {
    transform: translateX(50%);
  }
  @keyframes ping {
    75%,
    100% {
      opacity: 0;
    }
  }
  .animate-ping {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
  
</style>
