---
import "../css/fonts.css";
import myself from "../assets/images/myself.jpg";
import Skills from "../components/Skills.astro";
---

<div class="wrap p-8 sm:flex-col rounded-lg offscreen">
  <h3 class="py-5 font-sans text-4xl text-center offscreen">About</h3>
  <div class="flex flex-col items-center offscreen">
    <img src={myself.src} class="sm:w-[100%] offscreen" alt="foto of colin" />
    <p class="p-8 text-center text-pretty offscreen">


      Hello! I'm Colin, a 38-year-old passionate web developer. Since my youth,
      I've been a true PC nerd with a strong affinity for technology. <br>Besides my
      work as a web developer, I'm also an avid gamer and love spending my free
      time on challenging games. Additionally, I have a special passion for
      bonsai art, which helps me bring calm and balance to my daily life. <br
      /><br />

      With my diverse experience and wide-ranging interests, I bring creative
      and functional solutions to my projects.<br />Whether it's developing a
      user-friendly website or solving complex technical challenges, I am always
      motivated to achieve the best results and help my clients reach their
      goals.
    <div class="flex-col offscreen">
        <h3 class="text-center text-2xl p-4 font-[Marker] bg-gray-400 max-w-[768px] rounded-t-xl text-gray-600">Self Proclamations</h3>
      <div class="flex flex-col p-4 w-[100%] sm:flex-row bg-gray-300 rounded-b-xl max-w-[768px] font-[Marker] text-gray-600">
        <div class="flex flex-grow flex-col p-4  items-center hover:text-[tomato] hover:scale-125">
          <i class="fa-solid fa-keyboard text-gray-600 p-4 sm:text-[50px]"></i>Web Developer
        </div>
        <div class="flex flex-grow flex-col p-4  items-center font-[Marker] hover:text-[tomato] hover:scale-125">
          <i class="fa-solid fa-user text-gray-600 p-4 text-[50px]"></i>UI/UX Enthusiast
        </div>
        <div class="flex flex-grow flex-col p-4  items-center font-[Marker] hover:text-[tomato] hover:scale-125">
          <i class="fa-solid fa-leaf text-gray-600 p-4 text-[50px] " ></i>Bonsai Enthusiast
        </div>
      </div>
    </div>
      
    </p>
  </div>
</div>

<style>
  .wrap {
    background-color: rgba(255, 255, 255, 0.829);
    width: 100%;
    /* max-width: 768px; */
    margin-left: auto;
    margin-right: auto;
  }
  img {
    width: 30%;
    max-width: 250px;
    opacity: 0.8;
    object-fit: cover;
    box-shadow: 4px 5px 5px #333;
    border-radius: 50% 50%;
    aspect-ratio: 1;
  }
 
  h3 {
    font-family: Marker;
    color: #263442c0;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    font-family: roboto;
    max-width: 768px;
    text-transform: uppercase;
    text-align: center;
    font-family: 100;
    color: #263442c0;
    /* text-shadow:
      0px 0px 15px black,
      1px 1px 3px black; */
  }
</style>
<script src="https://kit.fontawesome.com/f179aa90d3.js" crossorigin="anonymous"
></script>
