---

---

<nav>
    <div><a href="">Colin Blome</a></div>
  <ul>
    <li></li>
    <li><a href="/">About</a></li>
    <li><a href="">Projects</a></li>
    <li><a href="/kontakt">K0ntakt</a></li>
  </ul>
</nav>
<style>
  nav {
    background-color: black;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    li {
    }
  }
</style>
