---
import p1 from "../assets/images/bonsaiworld.jpg";
import p2 from "../assets/images/blome.jpg";
import p3 from "../assets/images/p3.png"
import p4 from "../assets/images/p4.png"


---

<section class="wrapperr offscreen">
  <h1
    class="text-center mt-6 p-8 text-3xl font-bold text-gray-600 font-[Marker]"
  >
    Projects
  </h1>
  <div class="container flex-col items-center content-center sm:flex-row">
    <div
      class="box flex items-center content-center flex-grow sm:max-w-[50%] offscreen"
      data-modal-target="myModal1"
    >
      <figcaption>
        <img src={p1.src} alt="" />
        <div class="caption flex flex-col items-center">
          <h1 class="py-4 text-center">Bonsaiworld</h1>
          <p>Ein Kleines webproject während des Orientierungs-kurses der DCI</p>
          <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
        </div>
      </figcaption>
    </div>

    <div
      class="box flex items-center content-center flex-grow sm:max-w-[50%] offscreen"
      data-modal-target="myModal2"
    >
      <figcaption>
        <img src={p2.src} alt="" />
        <div class="caption flex flex-col items-center">
          <h1 class="py-4 text-center">Frima Blome</h1>
          <p>Ein Kleines webproject für Unser Familienunternehen.</p>
          <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
        </div>
      </figcaption>
    </div>
    <div
    class="box flex items-center content-center flex-grow sm:max-w-[50%] offscreen"
    data-modal-target="myModal3"
  >
    <figcaption>
      <img src={p3.src} alt="" />
      <div class="caption flex flex-col items-center">
        <h1 class="py-4 text-center">Layout beispiel</h1>
        <p>Ein Kleines layout im Rahmen des DCI Kurses.</p>
        <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
      </div>
    </figcaption>
  </div>
  <div
  class="box flex items-center content-center flex-grow sm:max-w-[50%] offscreen"
  data-modal-target="myModal4"
>
  <figcaption>
    <img src={p4.src} alt="" />
    <div class="caption flex flex-col items-center">
      <h1 class="py-4 text-center">Layout beispiel</h1>
      <p>Ein Kleines layout im Rahmen des DCI Kurses.</p>
      <i class="fa-solid fa-magnifying-glass-plus animate-pulse"></i>
    </div>
  </figcaption>
</div>
    <!-- Füge hier weitere <div> Elemente für weitere Modals hinzu -->
  </div>

  <!-- Modals -->
  <div id="myModal1" class="modal fadein">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1 class="py-4 text-center">Bonsaiworld</h1>
      <p class="py-4 text-center">
        Ein Kleines webproject während des Orientierungs-kurses der DCI
      </p>
      <iframe src="https://bonsaiworld.netlify.app/"></iframe>
    </div>
  </div>

  <div id="myModal2" class="modal fadein">
    <div class="modal-content ">
      <span class="close">&times;</span>
      <h1 class="py-4 text-center"></h1>
      <p>Ein Kleines webproject für Unser Familienunternehen.</p>
      <!-- <iframe src="https://k0mikerhdf.wixsite.com/blome"></iframe> -->
    </div>
  </div>
  <div id="myModal3" class="modal fadein">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1 class="py-4 text-center">Layout beispiel</h1>
      <p>Ein Kleines layout im Rahmen des DCI Kurses.</p>
      <iframe src="/embeded/MyComponent"></iframe>
    </div>
  </div>
  <div id="myModal4" class="modal fadein">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1 class="py-4 text-center">Layout beispiel</h1>
      <p>Ein Kleines layout im Rahmen des DCI Kurses.</p>
      <!-- <iframe src="https://k0mikerhdf.wixsite.com/blome"></iframe> -->
    </div>
  </div>

  <!-- Füge hier weitere Modals hinzu -->
</section>

<style>
.wrapperr {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.829);
    margin-top: 50px;
    min-height: 100vh;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.685);
    transition: 5s;
}
.caption {
    justify-content: center;
    h1,
    p,
    i {
        flex-grow: 1;
    }
    i {
        font-size: x-large;
    }
    i:hover {
        color: tomato;
        
    }
}
figcaption {

}
figcaption h1 {
    font-family: Marker;
    font-size: x-large;
}
iframe {
    width: 100%;
    height: 80vh;
}
.container {
    display: flex;

    background-color: rgba(255, 255, 255, 0.527);
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    
    padding: 15px;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;

    .box {
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        margin: 10px;
        max-width: 450px;
        border-radius: 15px;
        overflow: hidden;
        
    }
    .box:hover img {
      scale: 2.505;
        cursor: pointer;
    }

    .box .caption {
        transition: 0.5s;
        opacity: 0;
        padding: 55px;
        border-radius: 15px;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
    .box:hover .caption {
        transition: 0.5s;
        opacity: 1;
        color: white;
        border-radius: 15px;
        background-color: #000000dd;
        h1{
          color: tomato;
          font-size: 26px;
        }
        i{
          margin-top: 50px;
          transition: 1s;
          scale: 2;
          color: tomato;
        }
    }
}

  img {
    object-fit:cover;
    width: 100%;
    /* aspect-ratio: 1; */
    border-radius: 15px;
    transition: 1s;
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;    
    h1 {
      font-family: marker;
      font-size: 28px;
    }
    p{
      text-align: center;
    }
  }
  .myModal1,
  .myModal2,
  .mymodal3,
  .mymodal4 {
  
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Hole alle Boxen, die ein Modal öffnen sollen
    var modalTriggers = document.querySelectorAll(".box[data-modal-target]");

    // Gehe durch jede Box und füge einen Klick-Event-Listener hinzu
    modalTriggers.forEach(function (trigger) {
      trigger.addEventListener("click", function () {
        var modalId = trigger.getAttribute("data-modal-target");
        var modal = document.getElementById(modalId);

        // Öffne das entsprechende Modal
        if (modal) {
          modal.style.display = "block";
        }
      });
    });

    // Hole alle Schließen-Icons
    var closeIcons = document.querySelectorAll(".modal .close");

    // Gehe durch jedes Schließen-Icon und füge einen Klick-Event-Listener hinzu
    closeIcons.forEach(function (icon) {
      icon.addEventListener("click", function () {
        var modal = icon.closest(".modal");
        if (modal) {
          modal.style.display = "none";
        }
      });
    });

    // Schließe das Modal, wenn außerhalb des Modals geklickt wird
    window.addEventListener("click", function (event) {
      if (event.target.classList.contains("modal")) {
        event.target.style.display = "none";
      }
    });
  });
</script>
