@font-face {
    font-family: "marker";
    src: url(/Fonts/PermanentMarker-Regular.ttf);

}
@font-face {
    font-family: "mono";
    src: url(/Fonts/SpaceMono-Regular.ttf);

}



.offscreen {
    opacity: 0;
    transition: 1.5s;
    transform: translate(-1vw);
    /* box-shadow: 0 0 150px 30px #000; */
}
.in-view {
    opacity: 1;
    transition: 1.5s;
    transform: translate(0vw) ;
  
  }