:root {
    --font-body: "inter", system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
    --font-mono: "mono", "SF Mono", "JetBrains Mono", ui-monospace, monospace;
    --font-marker: "marker", cursive;

    --gray1: #1c1b19;
    --gray2: #33312d;
    --gray3: #4d4a45;
    --gray4: #6a655e;
    --gray5: #8a8378;
    --gray6: #a39c90;
    --gray7: #ccc5b9;
    --gray8: #e4ddd0;
    --gray9: #ece6db;
    --gray10: #f3eee2;
}
@font-face {
    font-family: "marker";
    src: url(/Fonts/PermanentMarker-Regular.ttf);

}
@font-face {
    font-family: "mono";
    src: url(/Fonts/SpaceMono-Regular.ttf);

}
@font-face {
    font-family: "inter";
    src: url(/Fonts/Inter-VariableFont_slnt,wght.ttf);

}

/* für fadein animation */
.offscreen {
    opacity: 0;
    transition: 1s;
    transform: scale(0.95);
}
.in-view {
    opacity: 1;
    transition: 1s;
    transform: scale(1) ;
  
}