.fadein {
    animation: fadein .5s ease-in-out;
}

.hightlight {
    animation: rollover2 1s ;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes move-arrows {
    100% {
        background-position: 20px 0;
    }
}

@-webkit-keyframes move-arrows {
    100% {
        background-position: 20px 0;
    }
}

@-webkit-keyframes slidein2 {
    from {
        background-position: -1000px;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}


@keyframes slidein2 {
    from {
        background-position: bottom right;
    }


    to {
        background-position: top left;
    }

}

@keyframes slidein {
    from {
        background-position: left top;
    }

    to {
        background-position: right bottom;
    }
}
@keyframes rollover2 {
    from {
      color: #333;
      scale: 1;
    }
    10% {
      color: tomato;
      scale: 1.2;
    }
    20% {
      color: #333;
      scale: 1;
    }
  }

@keyframes polygon {
    0% {
        scale: 1;
        transform: skew(0deg);
    }
    5%{
        scale: 1.005;
        
        transform: skew(-10deg);
    }
    10% {
        transform: skew(0deg);
        scale: .995;
    }
    15% {
        transform: skew(0deg);
        scale: 1.005;
    }
    20% {
        transform: skew(-10deg);
        scale: .995;
    }
    25% {
        transform: skew(0deg);
      scale: 1; 
    }
    50% {
    }
    75% {
    }   
    to {     
        
    }

}


